@model MvcApp.RequestResponse.FrontendResponse

@{
    ViewBag.Title = "Vue Page";
}

<head>
    @Html.Raw(Model.Assets.HeadContent)
</head>
<body>
    <h1>Vue Land</h1>
    @Html.Raw(Model.Assets.BodyContent)
</body>