@page
@model IdentityServerStart.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>INDEX LOGIN IDENTITY SERVER</title>
</head>
<body>
<div>
    <p>THIS IS THE INDEX</p>
</div>
</body>
</html>