@model IdentityServer.RequestResponse.LoginRequest

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
<div>
    <h1>Login Locally or Externally</h1>
    <div>
        <h2>Local Login</h2>
        <form method="post" asp-controller="Account" asp-action="Login">
            <input type="hidden" value="@ViewBag.ReturnUrl" asp-for="ReturnUrl" />
            
            <div>
                <label asp-for="Email"></label>
                <input placeholder="Email" asp-for="Email" autofocus>
            </div>

            <div>
                <label asp-for="Password"></label>
                <input type="password" placeholder="Password" asp-for="Password" autofocus>
            </div>
            
            <div>
                <button type="submit">Login</button>
            </div>

            @if (ViewContext.ModelState.IsValid == false)
            {
                <div>
                    <strong>Error</strong>
                    <div asp-validation-summary="All"></div>
                </div>
            }
        </form>
    </div>
</div>
</body>
</html>