@import './reset.css';

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  margin: 5vh;
  padding: 10px;
}

.page__item {
  width: 50%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid;
  padding: 5px;
  margin-bottom: 2vh;
}
